<app-navbar></app-navbar>

<section class="wrapper c-inner-banner resource-banner article-banner">
        <div class="custom-container">
            <h1>
                Blue light: debunked
            </h1>
            <div class="both-btns">
                <a href="#" class="btn-new download-btn">
                    <abbr class="icon"></abbr>
                    <span>
                        Download Article
                    </span>
                </a>
                <a href="#" class="btn-new share-btn">
                    <abbr class="icon"></abbr>
                    <span>
                        Share
                    </span>
                </a>
            </div>
        </div>
    </section>
    <section class="wrapper article-content">
        <div class="container">
            <div class="wrapper ques-ans-col">
                <h4 class="ques-text">What is blue light?</h4>
                <p class="ans-text">Blue light is a high intensity light at the extreme range of the light spectrum
                    which is visible to the human eye. Due to its high intensity, blue light is harmful to your eyes as
                    it passes directly through the cornea into the retina.</p>
            </div>

            <div class="wrapper ques-ans-col">
                <h4 class="ques-text">So, is blue light blue in color?</h4>
                <p class="ans-text">Yes, but not always. Even white light contains a significant range of blue light
                    components.</p>
            </div>

            <div class="wrapper ques-ans-col">
                <img src="assets/images/map-color-image.jpg" alt="" />
                <h4 class="ques-text">Is all blue light harmful to the eyes?</h4>
                <p class="ans-text">The impact of blue light on your eye health depends on 2 factors:</p>
                <p class="ans-text m-top-10">1. The amount of blue light emitted from the light source.</p>
                <p class="ans-text">2. The duration of exposure to the blue light.</p>
            </div>


            <div class="wrapper ques-ans-col">
                <h4 class="ques-text">Light sources that emit more blue light</h4>
                <p class="ans-text bullet-point">Arc lamps (E.g. welding torch)</p>
                <p class="ans-text bullet-point">Sun (staring directly)</p>
                <p class="ans-text bullet-point">Dental treatment lights</p>
                <p class="ans-text bullet-point">Bright white light</p>
            </div>

            <div class="wrapper ques-ans-col">
                <h4 class="ques-text">Light sources that emit less blue light</h4>
                <p class="ans-text bullet-point">Fluorescent lamps and LED lights</p>
                <p class="ans-text bullet-point">Digital Screens (Smartphones, Laptops, etc.)</p>
            </div>

            <div class="wrapper ques-ans-col">
                <h4 class="ques-text">Who is at risk and why?</h4>
                <p class="ans-text bullet-point">
                    <strong>Working adults</strong>
                    Exposed to a digital screen for prolonged periods at work. (Laptops, Smartphone, etc.) and outside
                    work.
                </p>
                <p class="ans-text bullet-point m-top-10">
                    <strong>Kids and Teenagers</strong>
                    Extensive usage of mobile phone, watching TV, etc.
                </p>
                <p class="ans-text bullet-point m-top-10">
                    <strong>Elderly</strong>
                    50 years and above are highly susceptible to age-related macular degeneration. Blue light
                    accelerates this process.
                </p>
            </div>

            <div class="wrapper ques-ans-col">
                <h4 class="ques-text">Did you know?</h4>
                <p class="ans-text">Walking outdoors every morning for 10 to 15 mins is essential as it increases your
                    cortisol levels (stress hormone), keeping you energetic all day long.</p>
            </div>

            <div class="wrapper ques-ans-col">
                <h4 class="ques-text">So, is blue light blue in color?</h4>
                <p class="ans-text">Yes, but not always. Even white light contains a significant range of blue light
                    components.</p>
            </div>

            <div class="wrapper ques-ans-col">
                <h4 class="ques-text">Harmful effects of blue light <br> SHORT TERM EXPOSURE</h4>
                <p class="ans-text bullet-point">Difficulty in falling asleep due to a decrease in Melatonin (sleep
                    hormone) secretion.</p>
                <p class="ans-text bullet-point">Feeling lethargic and fatigue.</p>
            </div>

            <div class="wrapper ques-ans-col">
                <h4 class="ques-text">LONG TERM EXPOSURE</h4>
                <p class="ans-text bullet-point">Retinal damage</p>
                <p class="ans-text bullet-point">Cataract formation</p>
                <p class="ans-text bullet-point">Accelerates rate of macular degeneration</p>
                <p class="ans-text m-top-10">Chronic fatigue and deficiency in sleep</p>
            </div>

            <div class="wrapper ques-ans-col">
                <img src="assets/images/article-image.jpg" alt="" />
                <h4 class="ques-text m-top-10">Tips to manage blue light risk</h4>
                <p class="ans-text m-top-10">Use night shift/night light mode in smartphones and laptops to reduce blue
                    light emission. </p>
                <p class="ans-text bullet-point">Consider using yellow tinted glasses if you use your computer at night.
                </p>
                <p class="ans-text bullet-point">Avoid screen usage 2 - 3 hours before bedtime to prevent melatonin
                    suppression and get a more restful sleep.</p>
                <p class="ans-text bullet-point">Ensure your room is completely dark for sleeping, use an eye mask and
                    ear plugs to minimise disruptions.</p>
                <p class="ans-text bullet-point">Consider using warm (yellow) lights at home and dim red lights as night
                    light.</p>
            </div>

            <div class="wrapper ques-ans-col">
                <h4 class="ques-text">Limit blue light exposure from mobile devices with the 20-20-20 rule</h4>
                <p class="ans-text bullet-point">Every 20 minutes look at something 20 feet away for 20s. to relax your
                    eyes.</p>
                <p class="ans-text bullet-point">Or close your eyes/stare into space for 20s.</p>
                <p class="ans-text bullet-point">Try looking at distant greenery for a more calming effect to the eyes.
                </p>
            </div>

            <div class="wrapper ques-ans-col">
                <h4 class="ques-text">What’s the take on the differently coloured blue light reducing glasses?</h4>
                <p class="ans-text">Blue light reducing glasses come in various colours (red, orange and yellow).
                    However, it is recommended to use yellow tinted glasses as they are still able to block a high
                    amount of blue light without compromising your visual clarity and colour contrast.</p>
            </div>
        </div>
    </section>
    <section class="wrapper p-resource innepage article-you-may-like">
        <div class="custom-container">
            <div class="con-row">
                <div class="sections-header">
                    <div>
                        <h2>You may also like</h2>
                    </div>
                    <a href="" class="btn-new">
                        <span>View All</span>
                    </a>
                </div>
                <div class="card-list">
                    <ul class="rows">
                        <li class="col-3">
                            <div class="c-card-new">
                                <div class="image">
                                    <img src="assets/images/resource/article.png" alt="">
                                    <span class="labels">
                                        new
                                    </span>
                                </div>
                                <div class="desc">
                                    <h3>The facts behind neck pain</h3>
                                    <p>Poor posture is a known risk factor for neck pain. Instead of attributing it...
                                    </p>
                                    <a href="" class="text-link">Read More</a>
                                    <ul>
                                        <li>WFH</li>
                                        <li>Neck</li>
                                        <li>RSI</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="col-3">
                            <div class="c-card-new">
                                <div class="image">
                                    <img src="assets/images/resource/BackImage+4.png" alt="">
                                    <span class="labels">
                                        new
                                    </span>
                                </div>
                                <div class="desc">
                                    <h3>Blue light: debunked</h3>
                                    <p>Blue light is basically light with blue wavelengths. Ever wondered what...</p>
                                    <a href="" class="text-link">Read More</a>
                                    <ul>
                                        <li>Eye</li>
                                        <li>Research</li>

                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="col-3">
                            <div class="c-card-new">
                                <div class="image">
                                    <img src="assets/images/resource/man-back-pain-732x549-thumbnail-732x549-2.png"
                                        alt="">
                                    <span class="labels">
                                        new
                                    </span>
                                </div>
                                <div class="desc">
                                    <h3>How to save your back</h3>
                                    <p>Back pain is a frequently occurring concern that people face. About 80%...</p>
                                    <a href="" class="text-link">Read More</a>
                                    <ul>
                                        <li>Lower back</li>
                                        <li>RSI</li>
                                        <li>Tips</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

<app-footer></app-footer>