// Font Families
$font-open : 'Open Sans', sans-serif;
$font-monte : 'Montserrat', sans-serif;

// Colors
$color-white : #ffffff;
$color-black : #000000;
$header-bg : #221f1f;
$color-sky-blue : #5abaff;

$font-robot : 'Roboto', sans-serif;
$font-montserrat : 'Montserrat', sans-serif;
$font-lato : 'Lato', sans-serif;

$marron-clr: #800340; 



