.c-inner-banner {
    width: 100%;
    height: 300px;
    
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    &:after{
        width: 100%;
        height: 100%;
        background-color: #804160;
        opacity: 0.35;
        position: absolute;
        left: 0px;
        top:0px;
        content: '';
    }
    &.survey-home{
        background-image: url(../assets/images/pexels-photo-3740645.png);
    }
    &.resource-banner{
        background-image: url(../assets/images/resource/resource-banner.png);
    }
    h1{
        font-size: 36px;
        line-height: 48px;
        font-family: $font-montserrat;
        font-weight: 500;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        color: #FFF;
        z-index: 1;
        position: relative;
    }
    .mouse-icon{
        position: absolute;
        left: 50%;
        transform: translateY(-50%);
        bottom: 50px;
        display: none;
    }
}
