<section class="p-login"> 
  <div class="image-div">
      <div class="logo">
          <img src="assets/images/synergo-logo-white.svg" alt="">
      </div>
      
      <p>Ergonomics Program Management Suite</p>
  </div>
  <div class="form-div forgot-password-form">
      <form class="form-wrap">
        <h2 class="w-full">
          Forgot Password
        </h2>
        <p class="desc-text">
          Enter your registered company email address to receive a reset password link
        </p>
        <ul class="w-full">
          <li class="form-input-text-2  ">
            <label>Company Email</label>
            <input type="email"  class="form-control" #passwordResetEmail required>
           <!--<span class="error-msg">Please provide a valid company email</span>-->
          </li>
  
          <li class="form-input-text-2">
            <button type="submit"  (click)="submitForResetPassword(passwordResetEmail.value)">Send</button>
          </li>
  
          <li class="dont-ac">
              <p>Back to</p> <a routerLink="/login"  class="text-bold">Login</a>
          </li>
          
        </ul>
      </form>
    </div>
</section>

<section class="c-popup" *ngIf="isPaswordLinkSent">
<div class="popup-con">
<img src="assets/images/checkmark-circle.svg" alt="">
<h3>Email Sent</h3>
<p>{{EmailPaswordLinkSendMsg}}</p>
<a routerLink="/login">OK</a>
</div>
</section>

<section class="c-popup" *ngIf="isPaswwordNotEntered">
<div class="popup-con">
<img src="assets/images/Icon-awesome-exclamation-triangle.png" alt="">
<h3>Forgot Password</h3>
<p>Plese enter valid email address</p>
<a (click)="closeForgotPasswordOk();">OK</a>
</div>
</section>

<section class="c-popup" *ngIf="isForgetPasswordError">
  <div class="popup-con">
  <img src="assets/images/Icon-awesome-exclamation-triangle.png" alt="">
  <h3>Forgot Password</h3>
  <p>{{EmailPaswordLinkSendMsg}}</p>
  <a (click)="closeForgotPasswordEmailPaswordLinkSendMsg();">OK</a>
  </div>
  </section>
